



<div class="container-fluid m-2">
  <div class="row">
    <div class="col-sm">
      <input type="file" (change)="onChange($event.target.files)">
    </div>
    <div class="col-sm">

      <div class="input-group mb-3">
        <span type="text" class="form-control">  {{ 'OrInput' | translate }}</span>
        <div class="input-group-append">
          <a target="_blank" [href]=" 'kmlintrUrl' | translate " class="input-group-text" id="basic-addon2">?</a>
        </div>
      </div>



    </div>

  </div>
</div>

<textarea class="container-fluid "  id="kml-text" name="kml-text" [(ngModel)]="kmlText"></textarea>

<a class="btn btn-primary container-fluid" href="javascript:void(0)" (click)="loadText()" role="button">{{'Load'|translate}}</a>
