<a class="btn btn-primary" href="javascript:void(0)" (click)="loadText()" role="button">Load</a>


<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Gmap API Key</span>
  </div>
  <input  [(ngModel)]="gmapApiKey" type="text" class="form-control" aria-label="Plz input your google map api key"
    aria-describedby="inputGroup-sizing-sm">
</div>


<textarea class="container-fluid " style="height:800px" id="kml-text" name="kml-text" [(ngModel)]="kmlText"></textarea>
