<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" (click)="setMode(DrawMode.ALL_PATH)">Draw All Path</button>
  <button type="button" class="btn btn-secondary" (click)="setMode(DrawMode.SELECTED)">Draw Select Path</button>
  <button type="button" class="btn btn-secondary" (click)="setMode(DrawMode.NONE)">Clear</button>
  <button type="button" class="btn btn-secondary" (click)="drawTest()">Draw Test</button>
</div>
<div id="map"></div>
