<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text">
        Google Map Steepness
      </a>
    </div>
    <ul class="nav">
      <li [class.active]="urlParam.eqPath('/config')" class="nav-item">
        <a class="nav-link" routerLink="config">
          <i class="nc-icon nc-settings-gear-64"></i>
          <p>Config</p>
        </a>
      </li>

      <li class="nav-item " [class.active]="urlParam.eqPath('/load')">
        <a class="nav-link" routerLink="load">
          <i class="fas fa-folder-open"></i>
          <p>Load Data</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/locs')">
        <a class="nav-link" routerLink="locs">
          <i class="nc-icon nc-notes"></i>
          <p>Locs</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/map')">
        <a class="nav-link" routerLink="map">
          <i class="nc-icon nc-pin-3"></i>
          <p>Map</p>
        </a>
      </li>
      <li class="nav-item active active-pro">
        <a class="nav-link active" href="upgrade.html">
          <i class="nc-icon nc-alien-33"></i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>
