<div class="container-fluid ">
  <div class="row">

    <div class="col-8">

      <div class="alert alert-success design-content " role="alert">


        <button type="button" class="m-3 btn btn-primary overlay-box">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>

        <div>
          <p>This is an example of a simple HTML page with one paragraph.</p>

          <div id="graphDiv" class="mermaid">
            stateDiagram-v2
            [*] --> Still


            Still --> Moving
            Moving --> Still
            Moving --> Crash
            Crash --> [*]

          </div>


        </div>


      </div>
    </div>
    <div class="col-4">
      <app-properties></app-properties>
    </div>
  </div>
